@import "../../styles/variables";

.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 38px;
      border: 1px solid $purple;
      border-radius: 100%;
      color: $purple;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $purple;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $purple;
        color: #fff;
      }
    }
  }
}
